<h2>Most Popular Tags</h2>
<hr>
<h4>The tag(s) with the most number of crafts!</h4>
  <br>
<% @ordered_tags.each do |tag| %>
  <p><%= link_to tag.name, tag_path(tag) %> (<%= tag.crafts.count %>)</p>
<% end %>
