<h1>Crafts Index Page Here</h1>

<p>Welcome, <%= current_user.name %>!</p>
<p>All Crafts:</p>

<% @crafts.each do |craft| %>
  <h3><%= link_to craft.title, crafts_path(craft) %></h3>
<% end %>


<%= link_to "Log Out", logout_path %> | <%= link_to "Create a New Craft", new_craft_path %>
