<h1>Welcome to Crafty!</h1>
<p>The app that allows you to manage your arts and crafts and view others!</p>
<hr>
<p><%= link_to "Signup", signup_path %> | <%= link_to "Login", login_path %> </p>
<p>...or sign in through facebook</p>
